<head>
<link rel="stylesheet" type="text/css" href="styles.css">
</head>

<div class="login">

<form class="cf" action = "/">


<h1>Register inserted with success!</h1>


  <div> 
   <button type="submit" class="btn btn-primary btn-block btn-large">Insert new register</button>
  </div>
</form>


</div>

